@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import "../_fast-grid";

* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 'Roboto', sans-serif;
  color: #333;
}

.spl-content {
  margin: 10px 0;
  padding: 15px 0;
  background-color: #f2f2f2;
}

.spl-column {
  padding: 3px 10px;
  text-align: center;
  background-color: #39f;
}

.cols {
  @include grid-row();

  &__item {
    @include grid-col(12 6 4 (1 of 5));
  }
}

.cols2 {
  $grid: (
    breakpoints: (
      xs: 0px,
      sm: 640px,
      lg: 1100px
    ),
    columns: 15,
    gap: 25px,
    mode: float
  );
  @include grid-row($grid);

  &__item {
    @include grid-col(15 5 3, $grid);
  }
}

.cols3 {
  @include grid-row();

  &__item {
    @include grid-col((xs: 3, md: 1) of 3);
  }
}

.cols4 {
  @include grid-row((gap: 5px));

  &__item {
    @include grid-col(12/12 6/12 4/12 3/12 of 1, (gap: 5px));
  }
}

.cols5 {
  $grid: (gap: 15px null 30px);

  @include grid-row($grid);

  &__item {
    @include grid-col(12 6 4 3, $grid);
  }
}

.cols6 {
  @include grid-row();

  &__l, &__r {
    @include grid-col(4 3);
  }

  &__c {
    @include grid-col(4 3);
    @include grid-offset(null 3);
  }
}

.cols7 {
  @include grid-row();

  &__l {
    @include grid-col(12 (4 of 5));
    @include grid-move(null (1 of 5));
  }

  &__r {
    @include grid-col(12 (1 of 5));
    @include grid-move(null (-4 of 5));
  }
}

.spl-visible-sm {
  display: none;

  @media (min-width: grid-width(sm)) {
    display: block;
  }
}

.spl-visible-md {
  display: none;

  @include grid-breakpoint(md) {
    display: block;
  }
}

.spl-container {
  @include grid-container(sm);
}

.spl-container2 {
  @include grid-container(sm, lg);
}

.spl-container3 {
  @include grid-container(sm xl);
}